.body {
  width: 47%;
  min-width: 350px;
  margin: 0px 12px 20px 12px;
}

.buttons {
  width: 100%;
  background: yellow;
  height: 30px;
}

.products {
  height: 320px;
  width: 100%;
  overflow-y: auto;
}

.products::-webkit-scrollbar-track {
  margin-block: 15px;
}

.product {
  height: 100px;
  width: 80px;
  margin: 10px;
  background: yellow;
}

.message {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #c0c0be;
}
